.about__flexContainer {
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  align-items: center;
}

.about__bio {
  width: 35vw;
}

@media only screen and (max-width: 800px) {
  .about__bio {
    width: 100%;
    text-align: center;
  }
}

.about__image {
  width: 40%;
  margin-bottom: 5vw;
}
