.performance__flexContainer {
  display: flex;
  gap: 6vh;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-left: 16vw;
}

.performance__video {
  width: 32vw;
  height: 18vw;
}

.performance__video > * {
  width: 100%;
  height: 100%;
}

#lessons {
  color: rgb(0, 0, 221);
  text-decoration: none;
  font-size: 20px;
  padding: 1vw;
  border: 0.6vw solid red;
}

@media only screen and (max-width: 890px) {
  .performance__flexContainer {
    justify-content: center;
    margin-left: 0%;
  }
}
