.podcast__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vw;
  margin-top: 4vw;
  margin-bottom: 5vw;
}
.sportsTalkLogo {
  height: 50vw;
  max-height: 400px;
}
.spotify {
  width: 50vw;
}
